.th,
.td {
  border: solid 1px; /* 枠線指定 */
  padding: 1rem; /* 余白指定 */
}
.tr-odd {
  background-color: #ddd; /* 背景色指定 */
}
.tr:nth-child(odd) {
  background-color: #ddd; /* 背景色指定 */
}

.table {
  border-collapse: collapse; /* セルの線を重ねる */
}
